<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/login.css"/>
    <link rel="stylesheet" href="/static/css/navbar.css"/>
    <title>Login Page</title>
</head>
<body>
    <body>
        <div id="right-content">
            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                {% if username %}
                    <p>Welcome, {{ username.capitalize() }}</p>
                    {% if admin %}
                        <a href="/">Home</a>
                        <a href="/admin">Post</a>
                        <a href="/logout">Logout</a>

                    {% else %}
                        <a href="/">Home</a>
                        <a href="/logout">Logout</a>

                    {% endif %}
                {% else %}
                    <a href="/">Home</a>

                    <a href="/login">Login</a>
                    <a href="/signup">Signup</a>
                {% endif %}
            </div>
            <span style="font-size:30px;cursor:pointer;padding-right:17px;" onclick="openNav()">&#9776;</span>
        </div>
    
    <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "250px";
    }
    
    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
    </script>
        <content>
            <div class="login-box">
                <h2>Login</h2>
                <form action="/login" method="post">
                    <div class="user-box">
                        <input type="text" name="username" required>
                        <label>Username</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <div class="user-box">
                        <a>
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            <input style="margin-bottom: 0;" type="submit">  
                        </a>
                        <br>
                        <br>
                        <a href="/signup" style="margin-left: 15%;width: 50%;">Don't have an account?</a>

                    </div>
                </form>
            </div>
        </content>

</body>
</html>